@font-face {
  font-family: 'outfit';
  src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'young serif';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

html {
  background: hsl(30, 54%, 90%);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  margin: 5em 0;
}

h1 {
  color: hsl(24, 5%, 18%);
  font-family: 'young serif', 'san serif';
}

h2 {
  color: hsl(14, 45%, 36%);
  font-weight: 400;
  font-family: 'young serif', 'san serif';
}

h3 {
  color: hsl(332, 51%, 32%);
  font-family: 'outfit', 'san serif';
  margin: 15px;
}

p,
b {
  color: hsl(30, 10%, 34%);
  font-size: 16px;
  font-family: 'outfit', 'san serif';
}

li::marker {
  font-family: 'outfit', 'san serif';
  font-weight: 700;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid hsl(30, 18%, 87%);
  margin: 2em 0;
  padding: 0;
}

@media (max-width: 500px) {
  html {
    background: hsl(0, 0%, 100%);
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid hsl(30, 18%, 87%);
    margin: 2em 2em;
    padding: 0;
  }
}
